/*   Font     ///////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');*/

@font-face {
    font-family: 'iran-yekan';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/iranyekanweblightfanum.woff) format('woff');
}

@font-face {
    font-family: 'iran-yekan';
    font-style: normal;
    font-weight: 500;
    src: url(../../assets/fonts/iranyekanwebregularfanum.woff) format('woff');
}

@font-face {
    font-family: 'iran-yekan';
    font-style: normal;
    font-weight: 700;
    src: url(../../assets/fonts/iranyekanwebboldfanum.woff) format('woff');
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
    font-family: 'Roboto', 'iran-yekan', sans-serif;
    background-color: #f2f2f2;
    overscroll-behavior: none;
    direction: rtl;
    display: flex;
    justify-content: center;
}

.title {
    font-family: unset !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: 700 !important;
}

.medium {
    font-weight: 500 !important;
}

.regular {
    font-weight: 400 !important;
}

.light {
    font-weight: 300 !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------- scroll-bar -------------------*/

.scroll-bar::-webkit-scrollbar {
    width: 4px;
    margin-left: 5px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eee;
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

/* Handle on hover */

.scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, span {
    /*line-height: 2;*/
    padding: 0;
    margin: 0;
    word-break: break-word;
}
