<template>
  <main>

    <div class="tab">
      <span>ارزش</span>
      <span>مقدار</span>
      <span>قیمت</span>
    </div>

    <section>
      <h1>خرید</h1>
      <div class="list scroll-bar">
        <list-item
            v-for="salesItem in salesArray"
            :key="salesItem.id"
            :type="'sales'"
            :value="salesItem.value"
            :amount="salesItem.amount"
            :price="salesItem.price"
            :max-value="calcMaxValueInSales"
        >
        </list-item>
      </div>
    </section>

    <section>
      <h1>فروش</h1>
      <div class="list scroll-bar">
        <list-item
            v-for="buyingItem in buyingArray"
            :key="buyingItem.id"
            :type="'buying'"
            :value="buyingItem.value"
            :amount="buyingItem.amount"
            :price="buyingItem.price"
            :max-value="calcMaxValueInBuying"
        >
        </list-item>
      </div>
    </section>

  </main>
</template>

<script>
  import listItem from '../components/list-item.vue'

  export default {
    name: "home",
    components: {
      listItem
    },
    data() {
      return {
        // better store in vuex when fetch from server
        salesArray: [
          {id: 1, value: 136, price: 97567919, amount: 204.6781},
          {id: 2, value: 1569, price: 95567919, amount: 203.3989},
          {id: 3, value: 186, price: 96567719, amount: 308.1789},
          {id: 4, value: 246, price: 93577919, amount: 200.0747},
          {id: 5, value: 141, price: 96566619, amount: 407.9789},
        ],
        buyingArray: [
          {id: 6, value: 1995, price: 92999786, amount: 888.4789},
          {id: 7, value: 319, price: 92239776, amount: 432.1780},
          {id: 8, value: 299, price: 90912345, amount: 978.5689},
          {id: 9, value: 699, price: 94999787, amount: 1145.6989},
          {id: 10, value: 299, price: 92955586, amount: 347.0779},
          {id: 11, value: 1489, price: 90999770, amount: 908.3758},

        ]
      }
    },
    computed :{
      // better calc & store in vuex after fetch data from server
      calcMaxValueInBuying() {
        return Math.max(...this.buyingArray.map(o => o.value))
      },
      calcMaxValueInSales() {
        return Math.max(...this.salesArray.map(o => o.value))
      }
    }
  }
</script>

<style scoped>
  main {
    width: 767px;
    margin: 35px;
    background-color: #fff;
    padding: 15px 25px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    border-radius: 4px;
  }

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-weight: bold;
  }

  .tab span {
    display: block;
    text-align: center;
    width: 33.3%;
  }

  .list {
    max-height: 400px;
    overflow-y: auto;
  }
</style>