<template>
  <div class="row-item">

    <div
        class="bg-box"
        :style="{'width' : `${bgPercent}%`, 'backgroundColor' : `${bgColor}`}"
    >
    </div>

    <span>
      {{ this.value.toLocaleString() }}
    </span>
    <span>
      {{ this.amount }}
    </span>
    <span>
      {{ this.price.toLocaleString() }}
    </span>

  </div>
</template>

<script>
  export default {
    name: "list-item",
    props: {
      type: {
        default: 'sales',
        type: String
      },
      value: {
        default: 0,
        type: Number
      },
      amount: {
        default: 0,
        type: Number
      },
      price: {
        default: 0,
        type: Number
      },
      maxValue : {
        default: 0,
        type: Number
      }
    },
    computed: {
      bgPercent() {
        return (this.amount * 100) / this.maxValue
      },
      bgColor() {
        return (this.type === 'sales' ? 'rgba(243,112,96,0.1)' : 'rgba(37,189,190,0.1)')
      }
    },
    methods : {
      roundTo(number, place) {
        return +(Math.round(number + "e+" + place) + "e-" + place);
      }
    }
  }
</script>

<style scoped>
  .row-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    margin-bottom: 1px;
  }

  .row-item:hover {
    background-color: #eee;
  }

  .row-item span {
    width: 33.3%;
    text-align: center;
    z-index: 1;
  }

  .bg-box {
    position: absolute;
    z-index: 0;
    height: 100%;
  }
</style>